/* General Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: floralwhite;
    line-height: 1.5;
    margin: 20px;
    padding: 20px;

    background-image: url(./resumebackground.gif); background-repeat: no-repeat; background-size: cover
}

/* Headings */
h1 {
    font-family: Georgia, serif;
    color: #925989;
    font-size: 25px;
    border-bottom: 2px solid #925989;
    padding-bottom: 5px;
}

h2 {
    font-family: Georgia, serif;
    color: #547fb8;
    font-size: 23px;
       border-bottom: 2px solid #c7b8a8;
        padding-bottom: 5px;
}

h3 {
    font-family: Georgia, serif;
    color: #767d9f;
    font-size: 20px;
    font-style: italic;
}

/* Links */
a {
    color: #714e7b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #547fb8 ;
}

a:visited {
    color: #714e7b;
}

a:focus, a:active {
    color: #547fb8;
}

/* Lists */
ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Image */
img {
    border-radius: 10px;
    width: 400px;
    height: auto;
    display: block;
    margin: 10px 0;
}

/* List */

ul {list-style-position: inside;
    list-style-image: url('flower.png');
}

section {
padding: 50px 20px;
color:  #6F708E;
font-family: "Gill Sans", sans-serif;
font-size: 15px;
background-image: url(./background.gif); background-repeat: no-repeat; background-size: cover
}